dialog::backdrop {
    background: linear-gradient (
      130deg,
      rgba(24, 24, 24, 0.459),
      rgba(24, 24, 24, 0.459) 1px,
      rgba(24, 24, 24, 0.459) 1px,
      rgba(24, 24, 24, 0.459) 2px
    );
    backdrop-filter: blur(1px)
}

#this-dialog{
    width: 70%;
    height: 80%;
    border:none;
    border-radius: 2%;

}

@media (max-width:720px){
    #this-dialog{
        width: auto;
    }
    #container_wrap{
        display: block;
    }
    #feed_pic{

        width: 50%;
    }
    #write_part{

        width: 50%;
    }
}



p, span, label, textarea{
    font-family: 'Noto Sans KR', sans-serif;
}

#comment_wrap{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    flex: 0;
}

div#feed_pic {
    width: 70%;
    overflow: hidden;
}


.header_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2%;
}

.pic_icon {
    text-align: center;
}

img.upload_icon {
    width: 70%;
}

#write_part{
    width:30%;
    display: flex;
    flex-direction: column;
}

#feed_list{
    padding-left: 0;
}

#feed_content{
    display: flex;
    flex-direction: row;
    flex: 1;
}



/* .upload_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 50vw;
    justify-content: center;
    border:orange 1px solid;
} */

.ex_text{
    height: 10%;
    font-size: 2rem;
}

.pic_icon {
    margin-bottom: 4%;
}

.upload_form {
    height: 10%;
    width: 22%;
}

.choice_btn{
    width: 130px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #0094f5;
    border-radius: 5px;
    padding: 5px 0 5px 0;
}

#uf_three input{
    visibility: visible;
}

#select_file{
    display: none;
}


.content_container{
    display: flex;
    flex-direction: row;
    height: -webkit-fill-available;
}

.wf_user_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5%;
    flex: 0 0 auto;
}

.wf_user_profile {
    padding-right: 3%;
}

img.user_img {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: lightgray 1px solid;
    margin: 1%
}
span#user_name {
    font-size: 1.3rem;
    font-weight: bold;
}

/* .textarea_box {
    width: 20vw;
    height: 30vh;
    padding-top: 5%;
}

.textarea_box:focus {
    outline: none;
}

.text_content {
    width: 90%;
    height: 90%;
    border: none;
} */

.etc_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.side {
    padding-left: 1%;
}

.share{
    cursor: pointer;
}


.comment{
    border: none;
}
.comment:focus{
    outline: none;
}


#comment_part{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10%;
    flex: 1;

}

#footer{
    display: flex;
    flex-direction: column;

    flex: 0;
}