#Mypage-container {
    width: 100%;
}

#Mypage-main {
    max-width: 720px;
    width: 100%;
    padding: 7% 0 0;
    flex-direction: column;
    display: flex;
    border-bottom: 1px solid gray;
}

#Mypage-header {
    margin-bottom: 4%;
    display: flex;
    padding-top: 3%;
}

#Mypage-profile-box {
    margin: 0 10%;
}


#Mypage-profile {
}

.Mypage-profile-photo {
    border-radius: 50%;
    width: 15em;
    height: 15rem;
}

#Mypage-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#Mypage-section-top {
    display: flex;
    align-items: center;
}

#Mypage-text {
    font-size: 2rem;
}

#Mypage-profile-edit-box {
    margin-left: 3%;
}

#Mypage-section-middle {
    margin: 3% 0;
}

.Mypage-section-middle-text {
    font-size: 1.4rem;
    margin-right: 5%;
    display: flex;
    float: left;
}

#Mypage-section-bottom {
    font-size: 1.5rem;
}

#Mypage-state-bar {
    display: flex;
    border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);
    color: #8e8e8e;
    font-weight: 600;
    justify-content: center;

}

[role='tab'] {
    margin-right: 60px;
    align-items: center;
    cursor: pointer;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 52px;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
}

[role='tab'].Mypage-grid-box-active {
    margin-right: 60px;
    align-items: center;
    border-top: 1px solid rgba(var(--i1d, 38, 38, 38), 1);
    cursor: pointer;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 52px;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(var(--i1d, 38, 38, 38), 1);
}

[role='tabpanel'] {
    display: none;
}

[role='tabpanel'].panel {
    display: block;
}


.Mypage-aria-label {
    height: 12px;
    width: 12px;
}

.panel {

}

.img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.margin-right-div {
    margin-right: 3%;
}

.mypageimg {
    width: 18rem;
    height: 18rem;
    object-fit: fill;
}

.mypagediv {
    width: 18rem;
    height: 18rem;
}

@media (max-width: 800px) {
    .mypageimg {
        width: 16rem;
        height: 16rem;
        object-fit: fill;
    }

    .mypagediv {
        width: 16rem;
        height: 16rem;
    }
    .Mypage-profile-photo {
    width: 13em;
    height: 13rem;
}
}

@media (max-width: 600px) {
    .Mypage-profile-photo {
    width: 12em;
    height: 12rem;
}
    .mypageimg {
        width: 12rem;
        height: 12rem;
        object-fit: fill;
    }

    .mypagediv {
        width: 12rem;
        height: 12rem;
    }
}
