{% extends "base.html" %}
{% block content %}
    <div id="Auction-Page-container">
        <div id="Auction-Page-main">
            <div id="Auction-page-header">
            </div>
            <div id="Auction-page-ganggo-container">

                <div class="mypost" id="post-box">
                    <div class="form-floating">
                        <input id="url" type="email" class="form-control" placeholder="광고로 쓸 이미지를 등록하세요">
                        <label>이미지 등록</label>
                    </div>

                    <div class="form-floating">
                        <textarea id="comment" class="form-control_2" placeholder="광고 메시지를 입력하십시오"></textarea>
                        <label for="floatingTextarea2">광고글 작성</label>
                    </div>
                    <div class="mybtns">
                        <button onclick="posting()" type="button" class="btn btn-dark">기록하기</button>
                        <button onclick="close_box()" type="button" class="btn-close">닫기</button>
                    </div>
                </div>


                <div id="Auction-page-ganggo-main">


                    {#여기서부터반복##########################################################}
                    <div class=gango-header>
                        <div class="gango-img-text-box">
                            <div class=gango-img-box>
                                <img class=story-img src=../static/img/12344.gif>
                            </div>
                            <div class="gango-text-box">
                                <p class="gango-user_name"> bbb6045</p>
                            </div>
                        </div>
                        <div class="gango-main-img-box">
                            <div class="gango-click-info">
                                <p>클릭하여 광고확인</p>
                            </div>
                            <img class="gango-main-img" src="../static/img/12344.gif">
                        </div>
                    </div>
                    <label for="floatingTextarea2">광고글 작성</label>


                </div>
            </div>
        </div>
    </div>




    <input id="check-btn" type="checkbox"/>
    <label for="check-btn">Click Me!</label>
    <ul class="menubars">
        <li>메뉴</li>
        <li>메뉴</li>
        <li>메뉴</li>
        <li>메뉴</li>
    </ul>
    </div>

    <div>
        <input id="check-btn2" type="checkbox"/>
        <label for="check-btn2">Click Me!</label>
        <ul class="menubars">
            <li>메뉴</li>
            <li>메뉴</li>
            <li>메뉴</li>
            <li>메뉴</li>
        </ul>
    </div>
    <div>
        <input id="check-btn3" type="checkbox"/>
        <label for="check-btn3">Click Me!</label>
        <ul class="menubars">
            <li>메뉴</li>
            <li>메뉴</li>
            <li>메뉴</li>
            <li>메뉴</li>
        </ul>
    </div>

    </div>
    </div>
    </div>
    </div>




{% endblock %}