{% extends "base.html"  %}
{% block content %}
<button onclick="opendi()" style="margin-top: 10%">dddd</button>
<div class="write_feed_container model__background">

    <!-- <button onclick="showThisDialog()">Show this Dialog</button> -->

<dialog id="this-dialog">

    <div id="container_wrap" class="content_container">
        <!-- 피드사진 -->
        <div id="feed_pic">
            <div>
                <img class="upload_icon" src="static/img/upload_icon.jpg">
            </div>
        </div>    

        <!-- 피드내용 -->
        <div id="write_part" class="side">
            <!-- 헤더부분 -->
            <div class="wf_user_info">
                <div class="wf_user_profile">
                    <img class="user_img" src="static/img/carrot.jpg">
                </div>
                <div class="user_id">
                    <span id="user_name">carrot_vely</span>
                </div>
            </div>
            <div id="feed_content">
                <span>
                    {user_id들어갈 곳} {comment 들어갈 곳}사실 저는 당근을 싫어합니다. 오이도 싫어해요. 당근 많이 사랑해 주세요~ 당근케이크 만든 사람 얼굴 보고 시다^^ 당근케이크에 진짜로 당근이 들어갈 줄은 상상도 못했어요
                </span>
            </div>

            
            <!-- 코멘트부분 -->
            <div id="comment_wrap">
                <div id="comment_part">
                <ul id="feed_list">    
        <!-- 유저피드내용 -->
                    <div class="feed_content">
                        <div class="wf_user_profile">
                            <img class="user_img" src="static/img/carrot.jpg">
                        </div>
                        <span>
                            {user_id들어갈 곳} {comment 들어갈 곳}사실 저는 당근을 싫어합니다. 오이도 싫어해요. 당근 많이 사랑해 주세요~ 당근케이크 만든 사람 얼굴 보고 시다^^ 당근케이크에 진짜로 당근이 들어갈 줄은 상상도 못했어요
                        </span>
                    </div>
                    <div class="feed_content">
                        <div class="wf_user_profile">
                            <img class="user_img" src="static/img/carrot.jpg">
                        </div>
                        <span>
                            {user_id들어갈 곳} {comment 들어갈 곳}사실 저는 당근을 싫어합니다. 오이도 싫어해요. 당근 많이 사랑해 주세요~ 당근케이크 만든 사람 얼굴 보고 시다^^ 당근케이크에 진짜로 당근이 들어갈 줄은 상상도 못했어요
                        </span>
                    </div>
                    <div class="feed_content">
                        <div class="wf_user_profile">
                            <img class="user_img" src="static/img/carrot.jpg">
                        </div>
                        <span>
                            {user_id들어갈 곳} {comment 들어갈 곳}사실 저는 당근을 싫어합니다. 오이도 싫어해요. 당근 많이 사랑해 주세요~ 당근케이크 만든 사람 얼굴 보고 시다^^ 당근케이크에 진짜로 당근이 들어갈 줄은 상상도 못했어요
                        </span>
                    </div>
    
                </ul>
            
                </div>

            </div>
                        <!-- 푸터부분 -->
                        <div id="footer">
                            <!-- 좋아요아이콘 -->
                            <div class="feed-icons-container">
                                <div class="feed-icons-wrapper">
                                    <img class="feed-icon" onclick="like(this)" src="/static/img/like@3x.png"
                                        id="{{ feed_id }}_{{ id }}">
                                    <img class="feed-icon" src="/static/img/comment@3x.png">
                                    <img class="feed-icon" src="/static/img/dm@3x.png">
                                </div>
                    
                                <img class="feed-icon feed-right-icon" style="" onclick="favorite(this)"
                                    src="/static/img/favorite@3x.png">
                    
                            </div>
                            <!-- 좋아요개수 -->
                            <div class="flex">
                                <div class="strong">{{ like_list }}</div>
                                님 외에
                                <div id="{{ feed_id }}_{{ id }}likey" class="strong">{{ like }}명</div>
                                이 좋아합니다
                            </div>
                            <!-- 피드작성시간 -->
                            <div class="feed-time">
                                {{ time }}전
                            </div>
                            <!-- 댓글부분 -->
                            <div class="etc_info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                                </svg>
                                <input id="maxlen" class="comment" placeholder="댓글 달기...">
                                <span class="share">게시</span>
                            </div>
                            </div> 
        </div>

    </div>

<dialog>
</div>

{% endblock %}