{% extends "base.html"  %}
{% block content %}
    <div id="main-container">
        <div class="max-width">
            <div id="story-container"></div>
            <div id="feed-container"></div>
        </div>
        <div id="follow-container">
            <div id="follow-wrapper">
                <p><strong>회원님을 위한 추천</strong></p>
                <p style="font-size: 1rem; color: #000000"><strong>모두 보기</strong></p>
            </div>
            <div id="follow-people">

            </div>
        </div>
        <div id="Auction-container">
            <div id="Auction-header">
                <h1 id="fire">
                    <span>A</span>
                    <span>u</span>
                    <span>t</span>
                    <span>i</span>
                    <span>o</span>
                    <span>n</span>
                    <span> </span>
                    <span>s</span>
                    <span>i</span>
                    <span>t</span>
                    <span>e</span>
                    <span>!</span>
                </h1>
            </div>
            <div id="Auction-body">
                <div class="Auction-body-side">
                    <img src="../static/img/orange.png">
                    <img src="../static/img/orange.png">
                    <img src="../static/img/orange.png">
                    <img src="../static/img/orange.png">
                    <img src="../static/img/orange.png">
                </div>
                <div id="Auction-body-side_space" onclick="go_auction()">
                    <div>
                        <img src="../static/img/crop_aution.png">
                    </div>
                    <p style="font-weight: bold; font-size: 20px;">클릭하여 <br>이동하기</p>

                </div>

                <div class="Auction-body-side">
                    <img src="../static/img/orange.png">
                    <img src="../static/img/orange.png">
                    <img src="../static/img/orange.png">
                    <img src="../static/img/orange.png">
                    <img src="../static/img/orange.png">
                </div>
            </div>
            <div id="Auction-body-footer">
                <img src="../static/img/orang_2.png">
                <img src="../static/img/orang_2.png">
                <img src="../static/img/orang_2.png">
                <img src="../static/img/orang_2.png">
                <img src="../static/img/orang_2.png">

            </div>
        </div>
    </div>
    <dialog id="dialog">
        <form method="dialog">
            <p style="color: red"><strong>신고</strong></p>
            <hr>
            <p style="color: red"><strong>팔로우 취소</strong></p>
            <hr>
            <p>게시물로 이동</p>
            <hr>
            <p>공유 대상...</p>
            <hr>
            <p>링크 복사</p>
            <hr>
            <p>퍼가기</p>
            <hr>
            <button value="cancel">취소</button>

        </form>
    </dialog>
{% endblock %}
