<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>로그인</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="static/login.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>
        {% if msg %}
            alert("{{ msg }}")
        {% endif %}
        function login() {
            $.ajax({
                type: "POST",
                url: "/sign_in",
                data: {username_give: $('#userid').val(), password_give: $('#userpw').val()},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                        // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
                        $.cookie('mytoken', response['token']);

                        alert('로그인 완료!')
                        window.location.href = '/'
                    } else {
                        // 로그인이 안되면 에러메시지를 띄웁니다.
                        alert(response['msg'])
                    }
                }
            })
        }

    </script>

</head>
<div class="login_container">
    <div class="login_main">
        <div class="login-form">
            <form>
                <div class="section has-text-centered">
                    <p class="title">CROBGRAM</p>
                    <div class="container" style="width:70%">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="userid">ID</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                                               placeholder="ID">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="userpw">PW</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="password" class="input" id="userpw" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="button is-primary" onclick="login()">로그인</button>

                        <button class="button is-primary" onclick="location.href='register' ">회원가입</button>

                    </div>
                </div>
            </form>
            <div id="corn_box">
                <img id="corn" class="login_image" src=../static/img/12344.gif>
            </div>
            <div id="blueberry_box">
                <img id="corn" class="login_image" src=../static/img/12344.gif>
            </div>
            <div id="durian_box">
                <img id="corn" class="login_image" src=../static/img/12344.gif>
            </div>
            <div id="potato_box">
                <img id="corn" class="login_image" src=../static/img/12344.gif>
            </div>
            <div id="corn_box">
                <img id="corn" class="login_image" src=../static/img/12344.gif>
            </div>
            <div id="OE_box">
                <img id="corn" class="login_image" src=../static/img/12344.gif>
            </div>


        </div>
        {#     <img id="blue_berry"src= ../static/img/12344.gif>#}
        {#        <img id="durian"src= ../static/img/12344.gif>#}

    </div>


</div>


</html>