{% extends "base.html"  %}
{% block content %}

<div id="Mypage-container">
    <div id="Mypage-main">
        <header id="Mypage-header">
            <div id="Mypage-profile-box">
                <div id="Mypage-profile">
<!--                    프로필 이미지 불러올것-->
                    <img class="Mypage-profile-photo" src="../static/img/12344.gif">
                </div>
            </div>
            <section id="Mypage-section">
                <div id="Mypage-section-top">
                    <h2 id="Mypage-text">bbb6045</h2>
                    <div id="Mypage-profile-edit-box " style=" margin-left: 20px;">
                        <div> 프로필 편집</div>
                    </div>
                    <img style=" width: 24px;height: 24px; margin-left: 10px; " src="../static/img/setting.png">
                </div>
                    <ul id="Mypage-section-middle">
                        <li class="Mypage-section-middle-text">
                            <span>게시물</span>
                            <span style="font-weight: 600;">24</span>
                        </li>
                        <li class="Mypage-section-middle-text">
                            <span>게시물</span>
                            <span style="font-weight: 600;">24</span>
                        </li>
                        <li class="Mypage-section-middle-text">
                            <span>게시물</span>
                            <span style="font-weight: 600;">24</span>
                        </li>
                    </ul>
                <div id="Mypage-section-bottom">
                    <span style="font-weight: 600;">이름</span><br>
                    <span>별명</span>
                </div>
            </section>
        </header>
        <div id="Mypage-state-bar" role="tablist">
            <a id="tab1" aria-selected="true" aria-controls="Mypage-panel1" class="Mypage-grid-box-active" role="tab" tabindex="0">
                <span class="Mypage-grid-box-box">
                        <img class="Mypage-aria-label" src="../static/img/grid.png">
                    <span style="margin-left: 6px; cursor: pointer; letter-spacing: 1px;
    text-align: center;">게시물</span>

                </span>
            </a>
            <a id="tab2" aria-selected="false" aria-controls="Mypage-panel2" role="tab" tabindex="0" class="">
                <span class="Mypage-grid-box-box">
                        <img class="Mypage-aria-label" src="../static/img/grid.png">
                    <span style="margin-left: 6px; cursor: pointer; letter-spacing: 1px;
    text-align: center;">게시물</span>

                </span>
            </a>
            <a id="tab3" aria-selected="false" aria-controls="Mypage-panel3" role="tab" tabindex="0" class="">
                <span class="Mypage-grid-box-box">
                        <img class="Mypage-aria-label" src="../static/img/grid.png">
                    <span style="margin-left: 6px; cursor: pointer; letter-spacing: 1px;
    text-align: center;">게시물</span>

                </span>
            </a>
        </div>
        <div class="panel_main">
            <div class="panel" id="Mypage-panel1" role="tabpanel" aria-labelledby="tab1" aria-hidden="false">
                <p>1번탭입니다.</p><img src="../static/img/12344.gif">

            </div>
            <div id="Mypage-panel2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true" class="">
                2번텝입니다

            </div>
            <div id="Mypage-panel3" role="tabpanel" aria-labelledby="tab3" aria-hidden="true" class="">
                3번탭입니다
            </div>
        </div>
    </div>
</div>


{% endblock %}