{% extends "base.html"  %}
{% block content %}
<div id="Mypage-container">
    <div id=Mypage-main>
        <header id = Mypage-header>
            <div id="Mypage-profile-box">
                <div id ="Mypage-profile">
<!--                    프로필 이미지 불러올것-->
                    <img class = "Mypage-profile-photo" src="../static/img/12344.gif">
                </div>
            </div>
            <section id = Mypage-section>
                <div id =Mypage-section-top>
                    <h2 id = Mypage-text>bbb6045</h2>
                    <div id = "Mypage-profile-edit-box " style=" margin-left: 20px;">
                        <div > 프로필 편집</div>
                    </div>
                </div>
                    <ul id="Mypage-section-middle">
                        <li class="Mypage-section-middle-text">
                            <span>게시물</span>
                            <span style="font-weight: 600;">24</span>
                        </li>
                        <li class="Mypage-section-middle-text">
                            <span>게시물</span>
                            <span style="font-weight: 600;">24</span>
                        </li>
                        <li class="Mypage-section-middle-text">
                            <span>게시물</span>
                            <span style="font-weight: 600;">24</span>
                        </li>
                    </ul>
                <div id ="Mypage-section-bottom">
                    <span style ="font-weight: 600;">이름</span><br>
                    <span>별명</span>

                </div>
            </section>

        </header>

    </div>
</div>


{% endblock %}