{% extends "base.html"  %}
{% block content %}

<div id="Mypage-container">
    <div id="Mypage-main">
        <header id="Mypage-header">
            <div id="Mypage-profile-box">
                <div id="Mypage-profile">
<!--                    프로필 이미지 불러올것-->
                    <img class="Mypage-profile-photo" src="../static/img/12344.gif">
                </div>
            </div>
            <section id="Mypage-section">
                <div id="Mypage-section-top">
                    <div id="Mypage-text">bbb6045</div>
                    <div id="Mypage-profile-edit-box">
                        프로필 편집
                    </div>
                    <img style=" width: 24px;height: 24px; margin-left: 10px; " src="../static/img/setting.png">
                </div>
                    <div id="Mypage-section-middle">
                        <div class="Mypage-section-middle-text">
                            <span>게시물</span>
                            <span class="strong">24</span>
                        </div>
                        <div class="Mypage-section-middle-text">
                            <span>게시물</span>
                            <span class="strong">24</span>
                        </div>
                        <div class="Mypage-section-middle-text">
                            <span>게시물</span>
                            <span class="strong">24</span>
                        </div>
                    </div>
                <div id="Mypage-section-bottom">
                    <span style="font-weight: 600;">이름</span><br>
                    <span>별명</span>
                </div>
            </section>
        </header>
        <div id="Mypage-state-bar" role="tablist">
            <a id="tab1" aria-selected="true" aria-controls="Mypage-panel1" class="Mypage-grid-box-active" role="tab"
               tabindex="0">
                <span class="Mypage-grid-box-box">
                        <img class="Mypage-aria-label" src="../static/img/grid.png">
                    <span style="margin-left: 6px; cursor: pointer; letter-spacing: 1px;
    text-align: center;">피드</span>

                </span>
            </a>
            <a id="tab2" aria-selected="false" aria-controls="Mypage-panel2" role="tab" tabindex="0" class="">
                <span class="Mypage-grid-box-box">
                        <img class="Mypage-aria-label" src="../static/img/grid.png">
                    <span style="margin-left: 6px; cursor: pointer; letter-spacing: 1px;
    text-align: center;">래시피 피드</span>

                </span>
            </a>
            <a id="tab3" aria-selected="false" aria-controls="Mypage-panel3" role="tab" tabindex="0" class="">
                <span class="Mypage-grid-box-box">
                        <img class="Mypage-aria-label" src="../static/img/grid.png">
                    <span style="margin-left: 6px; cursor: pointer; letter-spacing: 1px;
    text-align: center;">좋아요 한 피드</span>

                </span>
            </a>
        </div>
        <div>
            <div id="Mypage-panel1" role="tabpanel" aria-labelledby="tab1" aria-hidden="false" class="panel">
            {% for row in feedrows %}
                <div class="img-wrapper">
                    {% set count = [1] %}
                    {% for ro in row %}
                        {% set feedimg = ro.img %}
                        {% set id = ro.id %}
                        {% set feedid = ro.id %}
                        {% if count|length % 3 == 0 %}
                            <div>
                                <a href="/feed/{{ id }}{{ feedid }}">
                                    <div>
                                        <img src="data:image/png;base64, {{ feedimg }}" class="mypageimg">
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <div class="margin-right-div">
                                <a href="/feed/{{ id }}{{ feedid }}">
                                    <div>
                                        <img src="data:image/png;base64, {{ feedimg }}" class="mypageimg">
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% set __ = count.append(1) %}
                    {% endfor %}

                    {% if (count|length - 1) % 3 != 0 %}
                        {% set d = 3 - ((count|length - 1) % 3) %}
                        {% if d == 1 %}
                            <div>
                                <div>
                                    <div class="mypagediv"></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="margin-right-div">
                                <div>
                                    <div class="mypagediv"></div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="mypagediv"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            </div>
             <div id="Mypage-panel2"  role="tabpanel" aria-labelledby="tab2" aria-hidden="true" class="">
                {% for row in reciperows %}
                 <div class="img-wrapper">
                    {% set count = [1] %}
                    {% for ro in row %}
                        {% set feedimg = ro.img %}
                        {% set id = ro.id %}
                        {% set feedid = ro.id %}
                        {% if count|length % 3 == 0 %}
                            <div>
                                <a href="/feed/{{ id }}{{ feedid }}">
                                    <div>
                                        <img src="data:image/png;base64, {{ feedimg }}" class="mypageimg">
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <div class="margin-right-div">
                                <a href="/feed/{{ id }}{{ feedid }}">
                                    <div>
                                        <img src="data:image/png;base64, {{ feedimg }}" class="mypageimg">
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% set __ = count.append(1) %}
                    {% endfor %}

                    {% if (count|length - 1) % 3 != 0 %}
                        {% set d = 3 - ((count|length - 1) % 3) %}
                        {% if d == 1 %}
                            <div>
                                <div>
                                    <div class="mypagediv"></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="margin-right-div">
                                <div>
                                    <div class="mypagediv"></div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="mypagediv"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
             </div>
            <div id="Mypage-panel3" role="tabpanel" aria-labelledby="tab3" aria-hidden="true" class="">
                {% for row in likerows %}
                <div class="img-wrapper">
                    {% set count = [1] %}
                    {% for ro in row %}
                        {% set feedimg = ro.img %}
                        {% set id = ro.id %}
                        {% set feedid = ro.id %}
                        {% if count|length % 3 == 0 %}
                            <div>
                                <a href="/feed/{{ id }}{{ feedid }}">
                                    <div>
                                        <img src="data:image/png;base64, {{ feedimg }}" class="mypageimg">
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <div class="margin-right-div">
                                <a href="/feed/{{ id }}{{ feedid }}">
                                    <div>
                                        <img src="data:image/png;base64, {{ feedimg }}" class="mypageimg">
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% set __ = count.append(1) %}
                    {% endfor %}

                    {% if (count|length - 1) % 3 != 0 %}
                        {% set d = 3 - ((count|length - 1) % 3) %}
                        {% if d == 1 %}
                            <div>
                                <div>
                                    <div class="mypagediv"></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="margin-right-div">
                                <div>
                                    <div class="mypagediv"></div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="mypagediv"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}